
.wprig-mosaic-gallery{
    overflow: hidden;
}
    
    
.wprig-mosaic-gallery img{
    width:100%;
}

.wprig-mosaic-gallery .cells{
    position: relative;
    z-index: 6;
    overflow: hidden;
    
}

.wprig-mosaic-gallery .overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items:center;   
    transition: 0.35s all;
    opacity: 0;
    background:rgba(0,0,0,0.5) ;
}

.wprig-mosaic-gallery .overlay-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wprig-box-effect-1.bottom-to-top .jQueryMosaic > .cells .overlay {
    z-index: 5;
    opacity: 0;
    top: 100%;
    left: 0;
    transition: 0.35s all;
}

.wprig-box-effect-1.bottom-to-top .jQueryMosaic > .cells:hover .overlay {
    z-index: 5;
    opacity: 1;
    top: 0;
    left: 0;
}


.wprig-box-effect-1.top-to-bottom .jQueryMosaic > .cells .overlay {
    z-index: 5;
    opacity: 0;
    top: -100%;
    left: 0;
    transition: 0.35s all;
}

.wprig-box-effect-1.top-to-bottom .jQueryMosaic > .cells:hover .overlay {
    z-index: 5;
    opacity: 1;
    top: 0;
    left: 0;
}

.wprig-box-effect-1.left-to-right .jQueryMosaic > .cells .overlay {
    z-index: 5;
    opacity: 0;
    top: 0;
    left: -100%;
    transition: 0.35s all;
}

.wprig-box-effect-1.left-to-right .jQueryMosaic > .cells:hover .overlay {
    z-index: 5;
    opacity: 1;
    top: 0;
    left: 0;
}

.wprig-box-effect-1.right-to-left .jQueryMosaic > .cells .overlay {
    z-index: 5;
    opacity: 0;
    top: 0;
    left: 100%;
    transition: 0.35s all;
}

.wprig-box-effect-1.right-to-left .jQueryMosaic > .cells:hover .overlay {
    z-index: 5;
    opacity: 1;
    top: 0;
    left: 0;
}

.wprig-box-effect-2 .jQueryMosaic > .cells .overlay {
    z-index: 5;
    opacity: 0;
    top: 0;
    left: 0;
    transition: 0.35s all;
    transform:scale(0.5)
}

.wprig-box-effect-2 .jQueryMosaic > .cells:hover .overlay {
    z-index: 5;
    opacity: 1;
    top: 0;
    left: 0;
    transform:scale(1)
}

.wprig-box-effect-3 .jQueryMosaic > .cells .overlay {
    z-index: 5;
    opacity: 0;
    top: 0;
    left: 0;
    transition: 0.35s all;
    transform:scale(1.5)
}

.wprig-box-effect-3 .jQueryMosaic > .cells:hover .overlay {
    z-index: 5;
    opacity: 1;
    top: 0;
    left: 0;
    transform:scale(1)
}
